{% load static %}

{% include 'nav_bar.html' %}

            <div class="innerdiv w-full  py-2 sm:py-5  px-5 sm:px-16 lg:flex justify-between items-center ">
                <div class="contactdiv  sm:w-[50vw]  flex flex-col gap-5 ">
                <h1 class="text-gray-400 text-3xl lg:text-5xl mb-6 tracking-[.15em]">Contact <br> 
                <span class="text-gray-800 roboto-light font-bold ">Information</span></h1>

                <h2 class="text-black sm:font-bold">Digital Company</h2>
              
                <h3 class="text-gray-400"> 11111 Sample Thiruvananthapuram,Kerala</h3>

                <h3 class="text-black sm:font-bold ">0471-225588</h3>
                <h3 class="text-gray-400">demo@gmail.com</h3>

                <button type="button" class="tracking-[.10em] w-fit text-gray-500  bg-slate-800 text-white  px-6 py-4 lg:px-6 lg:py-4 text-center">
                    Contact us
                </button>
            </div>
            <div class="picdiv w-full   mt-20 lg:mt-0 bg-green-100 border border-slate-400">
                  
                  <iframe class="h-[50vh] w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>
    </div>
  
    {% include 'footer.html' %}